<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bright_storage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrightStorage">
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BrightStorage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BSProActivity"
            android:label="@string/title_BSPro" />
        <activity
            android:name=".RelationActivity"
            android:label="@string/title_Relation" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_Settings" />
        <activity
            android:name=".RecycleBinActivity"
            android:label="@string/title_RecycleBin" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".search.TestActivity"></activity>
    </application>

</manifest>